<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head") %> 
    <link rel="stylesheet" href="/styles/aviso.css">
    <title>Aviso</title>
</head>
<body class="background-blue">
    <header>
        <!--INICIO DEL HEADER -->
        <section class="img-container">
            <img src="/images/rebolucionLogoWeb.png" alt="">
        </section>
    <!--FIN DEL HEADER-->
    </header>

    <main>

            <section class="big-container">
                <div class="title-container">
                    <div class="background-orange or-bar"></div>
                    <h1 class="lightblue">Aviso</h1>
                    </div>
            </article>
            </section>
            <article class="advice-container">
              <div class="false-box background-light-color-box-from-behind">
                <div class="background-light-color">
                  <p class="white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet provident repellendus consequatur expedita reiciendis totam voluptas doloribus quam! Cumque deleniti alias fugiat vitae, nesciunt voluptatibus magnam natus fugit quisquam est!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis rem sequi quas dolores excepturi ab accusamus, distinctio voluptatum recusandae ut at fuga commodi obcaecati vel unde assumenda nobis. Adipisci, nobis!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet provident repellendus consequatur expedita reiciendis totam voluptas doloribus quam! Cumque deleniti alias fugiat vitae, nesciunt voluptatibus magnam natus fugit quisquam est!
                  </p>
                </div>

              </div>
            </article>
    
    </main>

    <footer class="background-footer">
      <section  class="footer-section">
        <a href="https://twitter.com/rebolucionnn">
        <i class="fa-brands fa-twitter"></i>
      </a>
      </section>
      <section class="footer-section">
        <a href="https://open.spotify.com/show/3EyKX9xEgU0K7WfyWXI9Sr">
        <i class="fa-solid fa-podcast"></i>
      </a>
      </section>
      <section class="footer-section">
        <a href="http://localhost:3000/contact-us">
        <i class="fa-solid fa-envelope"></i>
      </a>
      </section>
    </footer>

</body>
</html>