<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head") %> 
    <link rel="stylesheet" href="/styles/aviso.css">
    <title>Aviso</title>
</head>
<body class="background-blue">
   <header>
        <!--INICIO DEL HEADER -->
        <section class="img-container">
            <img src="/images/rebolucionLogoWebHeader.png" alt="">
        </section>

        <section class="header-btn-container-my-profile" <% if (!locals.loggedUser) { %> style=" display: none;"    <% } %>>
          <a class="header-a background-orange"href="http://localhost:3000/user/my-profile">
            <button class="background-orange white button-with-bg"> <i class="fa-solid fa-user"></i></button>
          </a>
        </section>
    <!--FIN DEL HEADER-->
    </header>

    <main>

            <section class="big-container">
                <div class="title-container">
                    <div class="background-orange or-bar"></div>
                    <h1 class="white">Aviso</h1>
                    </div>
            
            </section>
            <article class="advice-container">
                <h3  class="white">Recomendacion:</h3>
                <p class="white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, laudantium! Corporis dolorem quia omnis optio, officia laudantium numquam delectus quam eius atque? Repellat, ea necessitatibus reprehenderit deleniti eligendi sequi harum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero minus, consequuntur enim, itaque fuga eius voluptatem unde ipsam.
              <h3 class="white">Legal:</h3>
              <p class="white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam commodi pariatur incidunt ratione aspernatur ab, temporibus quidem id, quia dignissimos officiis nobis repudiandae itaque deleniti, totam ipsum porro assumenda quae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum asperiores eligendi aliquam culpa sequi consequatur consequuntur sed reprehenderit omnis? Nostrum et eligendi fuga, aliquid voluptatem similique veritatis deleniti sit.
              </p>
            </article>
    
    </main>

    <footer class="background-footer">
      <section  class="footer-section">
        <a href="https://twitter.com/rebolucionnn">
        <i class="fa-brands fa-twitter"></i>
      </a>
      </section>
      <section class="footer-section">
        <a href="https://open.spotify.com/show/3EyKX9xEgU0K7WfyWXI9Sr">
        <i class="fa-solid fa-podcast"></i>
      </a>
      </section>
      <section class="footer-section">
        <a href="http://localhost:3000/contact-us">
        <i class="fa-solid fa-envelope"></i>
      </a>
      </section>
    </footer>

</body>
</html>