<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head") %> 
    <link rel="stylesheet" href="/styles/home.css">
    <title>Document</title>
</head>
<body class="background-blue">
    <header>
        <!--INICIO DEL HEADER -->
        <section class="img-container">
            <img src="/images/rebolucionLogoWeb.png" alt="">
        </section>
    <!--FIN DEL HEADER-->
    </header>

    <main>
        
        <div id="carouselExample" class="carousel slide">
          
          <div class="button-container">
          <button class="background-blueForButtons  btn"><a href="http://localhost:3000/user/register" class="lightblue">Registrate</a></button>
          <button class="background-blueForButtons btn"><a href="http://localhost:3000/user/login" class="lightblue">Inicia sesion</a></button>
          </div>
          
          
          <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/homeImages/Rectangle 398.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/homeImages/Rectangle 391.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/homeImages/Rectangle 400.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        

        <section class="principal-section">
          <h2 class="lightblue ">
            Aprenderas sobre:
          </h2>


          <% thingsToLearn.forEach(thing => {%>
            <div class="false-box background-light-color-box-from-behind">
              <div class="background-light-color  div-inside">
                <i class="<%= thing.icon %>  orange icon-card"></i>
                <h6 class="white">
                  <%= thing.name %>
                </h6>
              </div>
            </div>
        <% }); %>
          
            
  
        </section>
   
    </main>
<!--
    <footer class="background-footer">
      <section  class="footer-section">
        <a href="">
        <i class="fa-brands fa-twitter"></i>
      </a>
      </section>
      <section class="footer-section">
        <a href="">
        <i class="fa-solid fa-podcast"></i>
      </a>
      </section>
      <section class="footer-section">
        <a href="">
        <i class="fa-solid fa-envelope"></i>
      </a>
      </section>
    </footer>
  -->
</body>
</html>