<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Document</title>
</head>
<body>
    <a href="/user/register">Register</a>
    <a href="/user/login">Login</a>
    <a href="/user/my-profile">My profile</a>
    
    <a href="/module">Modulos</a>
    <a href="/unit">Units</a>
    
</body>
</html>