<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head") %> 
    <!--<link rel="stylesheet" href="/styles/register.css">-->
</head>
<body class="">

    <div class="big-container bg-color-blue-dark">
        <img src="/images/imagenRegister.png" alt="" srcset="" class="imagen-register">
        <h2  class="color-or">¡Registrate!</h2>
        <form action="/user/register" class="form" method="POST"id="formulario" 
        enctype="">
            
            <input type="email" required class="input-from-register" placeholder="Correo electronico"  id="email" name="email">

            
            <input type="text" required class="input-from-register"placeholder="Nombre completo" id="name" name="name">

            <input type="text" required class="input-from-register"placeholder="Apellido" id="lastname" name="lastname">

            <input class="input-from-register phoneNumber" type="string" name="phone" placeholder="Ingresa tu número de celular">

            <input type="password" required class="input-from-register" placeholder="Contraseña" id="password" name="password">

            <input type="text" required class="input-from-register"placeholder="Pais" id="country
            " name="country"> 

            <input type="text" required class="input-from-register"placeholder="Estado o Provincia" 
            id="state" name="state"> 

            <input type="text" required class="input-from-register"placeholder="Ciudad" id="city
            " name="city"> 

            <p class="color-or p-from-register ">Si ya tienes cuenta 
                <a class="a-from-register color-or" href="/user/login">inicia sesion</a></p>
           
            <button  class="button-from-register bg-color-blue-dark  bg-color-or"type="submit">Registrarme</button>
        </form>
        
    </div>
</body>
</html>