<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head") %> 
    <link rel="stylesheet" href="/styles/header2.css">

    <link rel="stylesheet" href="/styles/sponsors.css">
    <title>Home - Rebolucion</title>
</head>
<body class="background-blue">
   
    <header>
        <!--INICIO DEL HEADER -->
        <section class="button-of-header-container">
         <a class="background-orange"href="http://localhost:3000">
            <button class="background-orange white">
                ←
            </button>
         </a>
        </section>
    <!--FIN DEL HEADER-->
    </header>
    <main>
        
        <h1>Sponsors</h1>

      
   
    </main>

    <footer class="background-footer">
      <section  class="footer-section">
        <a href="https://twitter.com/rebolucionnn">
        <i class="fa-brands fa-twitter"></i>
      </a>
      </section>
      <section class="footer-section">
        <a href="https://open.spotify.com/show/3EyKX9xEgU0K7WfyWXI9Sr">
        <i class="fa-solid fa-podcast"></i>
      </a>
      </section>
      <section class="footer-section">
        <a href="http://localhost:3000/contact-us">
        <i class="fa-solid fa-envelope"></i>
      </a>
      </section>
      <section class="footer-section">
        <a class="header-a "href="">
           <i  class="fa-brands fa-discord"></i>
        </a>
      </section>
    </footer>

</body>
</html>