main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: center;
    height: 100vh;
}
.big-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.big-container .title-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container .or-bar{
    width: 2%;
    height: 100%;
    border-radius: .6em;
}
h1{
    margin: 0 !important;
    padding-left: .2em;
}


.advice-container{
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.false-box{
    position: relative;
    width: 80%;
}

.false-box div{
    position: relative;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 12px;
}
.false-box div p{
    padding: 1.8em;
    text-align: left;
}

@media(min-width: 500px){
    .advice-container{
        margin-top: 2em;
        padding: 1.5em;
        width: 80%;
    }
    .false-box div p{
        padding: 2em;
    }
    
  }

  @media(min-width: 700px){
    .advice-container{
        margin-top: 3em;
        padding: 2em;
        width: 70%;
    }
    .false-box div p{
        padding: 2em;
    }
    
  }
@media(min-width: 800px){
    .title-container .or-bar  {
       width: 1%;
    }
    .advice-container{
        margin-top: 3em;
        padding: 2em;
        width: 60%;
    }
    .false-box div p{
        padding: 2.5em;
    }
    
  }

  @media(min-width: 950px){
    .advice-container{
        width: 55%;
    }
    
  }

  @media(min-width: 1000px){
    .advice-container{
        margin-top: 3em;
        padding: 2em;
        width: 50%;
    }
    .false-box div p{
        padding: 2.8em;
    }
    
  }