header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    padding-top: .5em;
 }

 .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
 }
.img-container img{
    height: 100%;
    width: 100%;
 }

@media(min-width: 900px){
   header{
      height: 20%;
   }
   .img-container{
      width: 30%;
   }
}
@media(min-width: 1024px){
   header{
      height: 8%;
   }
}
@media(min-width: 1280px){
   header{
      height: 3.5%;
   }
}



/*
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
 }

 .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
 }*/