header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
 }

 .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
 }
.img-container img{
    height: 120%;
    width: 100%;
 }

 @media(min-width: 850px){
   header{
      height: 10%;
   }
}

@media(min-width: 1024px){
   header{
      height: 8%;
   }
}
@media(min-width: 1280px){
   header{
      height: 5%;
   }
}

