/*CARROUSEL*/
#carouselExample{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
 }

 .phrase-container{
display: none;
}

.phrase-container h1{
    display: none;
}





@media(min-width: 480px){
    
}
@media(min-width: 520px){
    .button-container{
        padding-top: 2em;
       }
   
}


@media(min-width: 680px){
    .button-container button{
        padding: 1em;
       }
  
}

@media(min-width: 768px){
    .button-container button{
        padding: 1.2em;
       }
}
@media(min-width: 850px){
    .button-container{
        padding-top: 4em;
       }
  
}
@media(min-width: 900px){
    .button-container button{
        padding: 1.4em;
       }
       .phrase-container{
        display: block;
        width: 100%;
        height: 100%;
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     /*
     top:14%;
     left: 12%;*/
     z-index: 1;
     /*
     border-radius: 1em;*/
    }
    
    .phrase-container h1{
        width: 75%;
        text-align: center;
        display: block;
        font-size: 2em;
        font-weight: bold;
    }
}
@media(min-width: 1000px){
    .button-container button{
        padding: 1.2em;
       }
       .button-container button a {
        font-size: 1.3em;
    }
    
    
}


@media(min-width: 1024px){
    .button-container{
        padding-top: 6em;
       }
       .button-container button{
        padding: 1.7em;
       }
}


@media(min-width:1280px){
    .button-container{
        padding-top: 8em;
       }
       .button-container button{
        padding: 1.8em;
       }
}
/*FIN CARROUSEL*/

/*INICIO PRINCIPAL SECTION*/

.principal-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3em;
    width: 90%;
    margin: 0 auto;
}

.principal-section h2{
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 2em;
}

.sub-section{
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.false-box{
    width: 45%;
    height: 35%;
    position: relative;
    margin-bottom: 1.5em;
}

.false-box .div-inside{
    width: 100%;
    height: 100%;
    position: relative;
    top: 10px;
    left: 8px;
    padding: 1em;
}

.div-inside i{
    width: 100%;
    text-align: center;
    font-size: 2em;
    padding-bottom: .5em;
}

.div-inside h6{
    width: 100%;
    text-align: center;
    font-size: .9em;
    font-weight: bold;
}

@media(min-width: 768px){
    .div-inside i{
        font-size: 2.2em;
        
    }
    
    .div-inside h6{
        font-size: 1.1em;    
     }
}

@media(min-width: 1000px){
    .false-box{
        width: 30%;
    }

    .div-inside i{
        font-size: 2.6em;
        
    }
}


@media(min-width: 1024px){
}


@media(min-width:1280px){
  
}
/*FIN PRINCIPAL SECTION*/

/*INICIO SEGUNDA SECTION*/
.second-section{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: flex-start;
  justify-content: center;
}

.second-section .video-container{
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;

}

.video-container iframe{
  width: 80%;
  height: 70%;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 1em;
    margin-top: .9em;
  }
.btn-container a{
    width: 30%;
    height: 20%;
    margin: 0 10px;
    border-radius: .5em;
    border: none;
    padding: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .btn-container .extra-button{
      border: none;
      background-color: transparent;
  }


 @media(min-width: 480px){

 }
  
 @media(min-width: 560px){
    .video-container{
        height: 65vh;
 } 
}
 
 @media(min-width: 680px){
    .video-container{
        height: 70vh;
 } 

.video-container iframe{
    width: 60%;
    height: 100%;
  }
 }
 
 @media(min-width: 768px){
    .video-container{
        height: 80vh;
 } 

}

@media(min-width: 1000px){
    .video-container{
        height: 90vh;
        margin-bottom: 10em;
 } 
 .video-container iframe{
    width: 50%;
  }
  .btn-container a{
    width: 20%
  }
  .btn-container{
    margin-top: 2em;
  }


}


@media(min-width: 1024px){
}


@media(min-width:1280px){
  
}



/*FIN SEGUNDA SECTION*/