/*CARROUSEL*/
#carouselExample{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
 }

 .button-container{
 position: absolute;
 z-index: 1;
 padding-top: 1em;
}

.button-container button{
    padding: .6em;
    border-radius: .5em;
    border: none;
    background-color:   rgba(6, 7, 26, 0.4);
   }

   .button-container button a {
    text-decoration: none;
    outline: none;
    font-weight: bold;
}