main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: center;
    height: 100vh;
}
.section{
   width: 100%;
   height: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.imagen-register{
   width: 55%;
   height: 120%;
}
.big-container{
   display: flex;
   justify-content: start;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 80%;
}
.big-container .title-container{
    display: flex;   
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 50%; 
    height: 12%;
    margin-bottom: 1.5em;
}

.big-container .or-bar{
    height: 60%;
    width: 3%;
    border-radius: 1em;
    margin-right: .3em;
}

.false-box{
    height: 50%;
    width: 80%;
    position: relative;
 }
form{
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-basis: 100%;
   padding: 2em;
   position: absolute;
   left: 8px;
   top: 12px;
   
}
.login-input{
    outline: none;
    padding: .2em;
    border-radius: .3em;
    width: 100%;
 }

.p-from-login a {
    text-decoration: none;
 }

 .btn-container {
   width: 150%;
   display: flex;
   justify-content: end;
   align-items: center;
   
 }

 .btn-container .button{
   width: 25%;
      border-radius: 1.5em;
      outline: none;
      border: none;
      padding: .6em;
      font-size: 1.3em;
     
 }
 .error{
  
   font-weight: bolder;
   margin: 0px;
   padding: 0px;
   font-size: 10px;
 }
 h1{
   margin: 0 !important;
 }
@media(min-width: 480px){
    
}
@media(min-width: 520px){
   .big-container .title-container{
      width: 26%; 
      height: 12%;
      margin-bottom: 1.5em;
  }
  
  .big-container .or-bar{
      height: 60%;
      width: 3%;
  }
   
}


@media(min-width: 680px){
   .imagen-register{
      width: 40%;
      height: 120%;
   }
   h1{
      font-size: 2em;
   }
  
}

@media(min-width: 768px){
   .button{
      width: 15%;
    }
    .imagen-register{
      width: 25%;
      height: 140%;
   }
}


@media(min-width: 1024px){
   .big-container{
      width: 75%;
   }
   .imagen-register{
      width: 30%;
      height: 120%;
   }
}


@media(min-width:1280px){
   .big-container{
      width: 65%;
   }
   .imagen-register{
      width: 20%;
      height: 120%;
   }
}