.principal-section-of-module-detail{ 
    width: 100%;
    padding: 2em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.video-container{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.video-container iframe{
    width: 100%;
    border-radius: .8em;
 }
.description-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}
.description-container .or-bar{
    height: 100%;
    width: 2%;
    border-radius: 1em;
    margin-right: .3em;
}
.short-description{
    font-weight: bold;
    padding-top: .5em;
    padding-left: .7em;
    width:95%;
    height: 80%;
    margin: 0px;
}
.difficulty-container{
    width: 95%;
    height: 10%;
    background-color: aliceblue;
}


/*
 text-align: right;
    font-size: .7em;
    font-weight: bold;
    */