main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: center;
    height: 100vh;
}
.section{
   width: 100%;
   height: 17%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.imagen-register{
   width: 45%;
   height: 140%;
}
.big-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 120%;
    padding-bottom: 2em;
 }
 .big-container .title-container{
     display: flex;   
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
     width:50%; 
     height: 8%;
     margin-bottom: 1.5em;
 }
 
 .big-container .or-bar{
     height: 60%;
     width: 3%;
     border-radius: 1em;
     margin-right: .3em;
 }
 
 .false-box{
     height: 100%;
     width: 80%;
     position: relative;
     padding-bottom: 1em;
  }
  form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-basis: 100%;
    padding: 2em;
    position: absolute;
    left: 8px;
    top: 12px;
    padding-bottom: 1em;
    
 }
 .input-flex-container{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.input-flex-container input{
   width: 45%; 
   
}
 .login-input{
     margin-bottom: .9em;
     padding: .1em;
     outline: none;
     border-radius: .3em;
     width: 100%;
}
 .p-from-login a {
     text-decoration: none;
  }
 
  .btn-container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
  }
 
  .btn-container .button{
   width: 25%;
   border-radius: 1.5em;
   outline: none;
   border: none;
   padding: .6em;
   font-size: 1.3em;
      
  }
  .error{
   font-weight: bolder;
   margin: 0px;
   padding: 0px;
   font-size: 10px;
 }
 h1{
   margin: 0 !important;
 }
 @media(min-width: 480px){

 }
 @media(min-width: 520px){
   .big-container .title-container{
      width: 26%; 
      height: 12%;
      margin-bottom: 1.5em;
      
  }
  
  .big-container .or-bar{
      height: 60%;
      width: 3%;
  }
  .error{
   font-size: 16px;
   text-align: start;
   
}
 @media(min-width: 560px){
   .imagen-register{
      width: 35%;
      height: 140%;
   }
 }
 
 @media(min-width: 680px){
   .imagen-register{
      width: 30%;
      height: 120%;
   }
   h1{
      font-size: 2em;
   }
 }
 
 @media(min-width: 768px){
   .imagen-register{
      width: 25%;
      height: 140%;
   }

}
 
 
 @media(min-width: 1024px){
    .big-container{
       width: 75%;
    }
   
   .imagen-register{
      width:  20%;
      height: 120%;
   }
 }
 
 
 @media(min-width:1280px){
    .big-container{
       width: 65%;
    }

   
   .imagen-register{
      width: 15%;
      height: 120%;
   }
 }
}